/********** Template CSS **********/
:root {
    --primary: #006466;
    --secondary: #FCF5D9;
    --light: #EEF9FF;
    --dark: #091E3E;
    --bg: rgb(252, 247, 198);
}

.primary-text {
    color: var(--primary);
}

body {
    background-color:#EAF8E5;
}


/*** Spinner ***/
.spinner {
    width: 40px;
    height: 40px;
    background: var(--primary);
    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Heading ***/
h1,
h2,
.fw-bold {
    font-weight: 800 !important;
}

h1.custom {
    font-family: "Gilroy-Bold";
    color: var(--light);
}

h1.title {
    
}

h1.timeline {
    font-family: 'Jost';
    font-weight: 700;
    line-height: 92px;
    letter-spacing: 0.015em;
    text-transform: capitalize;

    background: var(--primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3,
h4,
.fw-semi-bold {
    font-weight: 700 !important;
}

h5,
h6,
.fw-medium {
    font-weight: 600 !important;
}

h5.custom {
    font-family: "Jost";
    font-size: 30px;
    color: #000;
    padding: 15px;
}


/*** Button ***/
.btn {
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    transition: .5s;
    /* background: linear-gradient(90deg, #5E6EB4 -4.66%, #FBC094 100%); */
    background: linear-gradient(90deg, #006466 0%, #BCDFAE 100%);
    border-radius: 115px;
}

.btn-primary,
.btn-secondary {
    color: #FFFFFF;
    box-shadow: inset 0 0 0 50px transparent;
}

.btn-primary:hover {
    box-shadow: inset 0 0 0 0 var(--primary);
}

.btn-secondary:hover {
    box-shadow: inset 0 0 0 0 var(--secondary);
}

.btn-square {
    width: 36px;
    height: 36px;
}

.btn-sm-square {
    width: 30px;
    height: 30px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.btn.custom {
    font-family: "Gilroy-Bold";
    color: #FFF;
    background: #006466;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    border-radius: 14.5669px;
    display: inline;
    text-align: center;
    font-weight: 600;
    font-size: 22.4622px;
    text-align: center;
    text-transform: uppercase;
}

.btn.custom.disabled, fieldset:disabled .btn {
    opacity: 1;
}


/*** Navbar ***/
.navbar-dark .navbar-nav .nav-link {
    font-family: 'Jost', sans-serif;
    position: relative;
    margin-left: 25px;
    padding: 35px 0;
    /* color: #FFFFFF; */
    color: var(--dark);
    font-size: 18px;
    font-weight: 600;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-dark .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--dark);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--primary);
}

.sticky-top.navbar-dark .navbar-nav .nav-link:hover,
.sticky-top.navbar-dark .navbar-nav .nav-link.active {
    color: var(--secondary);
}

.navbar-dark .navbar-brand h1 {
    font-family: 'Gilroy-Bold';
    /* color: #FFFFFF; */
    color: var(--primary);
}

.navbar-dark .navbar-toggler {
    color: var(--primary) !important;
    border-color: var(--primary) !important;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-dark {
        position: relative;
        background: #FFFFFF;
    }

    .navbar-dark .navbar-nav .nav-link,
    .navbar-dark .navbar-nav .nav-link.show,
    .sticky-top.navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
        color: var(--dark);
    }

    .navbar-dark .navbar-brand h1 {
        font-family: 'Gilroy-Bold';
        color: var(--primary);
    }
}

@media (min-width: 992px) {
    .navbar-dark {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(256, 256, 256, .1);
        z-index: 999;
    }
    
    .sticky-top.navbar-dark {
        position: fixed;
        background: #FFFFFF;
        background: #EAF8E5;
    }

    .navbar-dark .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        bottom: -1px;
        left: 50%;
        background: var(--primary);
        transition: .5s;
    }

    .navbar-dark .navbar-nav .nav-link:hover::before,
    .navbar-dark .navbar-nav .nav-link.active::before {
        width: 100%;
        left: 0;
    }

    .navbar-dark .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }

    .sticky-top.navbar-dark .navbar-brand h1 {
        font-family: 'Gilroy-Bold';
        color: var(--dark);
    }
}


/*** Carousel ***/
.carousel-caption {
    top: 150px;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: rgba(9, 30, 62, .7); */
    z-index: 1;
}

.carousel-item img {
    padding-top: 100px;
}

@media (min-width: 728px) {
    .carousel-caption {
        top: 150px;
        left: 10%;
        right: 0;
        bottom: 0;
        z-index: 1;
    }

    .carousel-caption h1 {
        font-size: 52px;
        font-weight: 600 !important;
    }

    .title-grandtheme h1 {
        font-size: 64px;
        font-weight: 600 !important;
    }

    .title-grandtheme h5 {
        font-size: 32px;
        font-weight: 600 !important;
    }

    .title-grandtheme button {
        font-size: 32px;
        font-weight: 600 !important;
    }
}

@media (max-width: 576px) {
    .carousel-item img {
        padding-top: 0px;
    }
    .carousel-caption {
        top: -25px;
        left: 0;
        right: 0;
        bottom: 0;
        /* background: rgba(9, 30, 62, .7); */
        z-index: 1;
    }
    .carousel-caption h5 {
        font-size: 14px;
        font-weight: 500 !important;
    }

    .carousel-caption h1 {
        font-size: 30px;
        font-weight: 600 !important;
    }
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}


/*** Section Title ***/
.section-title::before {
    position: absolute;
    content: "";
    width: 150px;
    height: 5px;
    left: 0;
    bottom: 0;
    background: var(--primary);
    border-radius: 2px;
}

.section-title.text-center::before {
    left: 50%;
    margin-left: -75px;
}

.section-title.section-title-sm::before {
    width: 90px;
    height: 3px;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 5px;
    bottom: 0px;
    background: #FFFFFF;
    -webkit-animation: section-title-run 5s infinite linear;
    animation: section-title-run 5s infinite linear;
}

.section-title.section-title-sm::after {
    width: 4px;
    height: 3px;
}

.section-title.text-center::after {
    -webkit-animation: section-title-run-center 5s infinite linear;
    animation: section-title-run-center 5s infinite linear;
}

.section-title.section-title-sm::after {
    -webkit-animation: section-title-run-sm 5s infinite linear;
    animation: section-title-run-sm 5s infinite linear;
}

@-webkit-keyframes section-title-run {
    0% {left: 0; } 50% { left : 145px; } 100% { left: 0; }
}

@-webkit-keyframes section-title-run-center {
    0% { left: 50%; margin-left: -75px; } 50% { left : 50%; margin-left: 45px; } 100% { left: 50%; margin-left: -75px; }
}

@-webkit-keyframes section-title-run-sm {
    0% {left: 0; } 50% { left : 85px; } 100% { left: 0; }
}


/*** Service ***/
.service-item {
    position: relative;
    height: 300px;
    padding: 0 30px;
    transition: .5s;
}

.service-item .service-icon {
    margin-bottom: 30px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    border-radius: 2px;
    transform: rotate(-45deg);
}

.service-item .service-icon i {
    transform: rotate(45deg);
}

.service-item a.btn {
    position: absolute;
    width: 60px;
    bottom: -48px;
    left: 50%;
    margin-left: -30px;
    opacity: 0;
}

.service-item:hover a.btn {
    bottom: -24px;
    opacity: 1;
}


/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    margin-top: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: #DDDDDD;
    border-radius: 2px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    width: 30px;
    background: var(--primary);
}

.testimonial-carousel .owl-item.center {
    position: relative;
    z-index: 1;
}

.testimonial-carousel .owl-item .testimonial-item {
    transition: .5s;
    text-align: justify;
    font-weight: 500 !important;
    /* height: 350px; */
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: #cdeced !important;
    text-transform: capitalize;
    border-radius: 10px;
}

.testimonial-carousel .owl-item .testimonial-item img {
    height: 100%;
}

@media (min-width: 821px) {
    .testimonial-carousel .owl-item .testimonial-item img {
        width: 500px;
        height: 300px;
    }
    .testimonial-carousel .owl-item .testimonial-item h6 {
        font-size: 2rem;
        font-weight: 800 !important;
        text-align: left;
    }
    .testimonial-carousel .owl-item .testimonial-item small {
        font-size: 1rem;
        font-weight: 600 !important;
        text-transform: capitalize;
    }
    .testimonial-carousel .owl-item .testimonial-item a {
        float: right;
        margin-left:1em;
    }

    .testimonial-carousel .owl-item .testimonial-item .flex-custom {
        display: flex;
        justify-content: flex-end;
    }

    .testimonial-carousel .owl-item .testimonial-item .event-img-media {
        display: none;
    }
}

@media (max-width: 820px) {
    .testimonial-carousel .owl-item .testimonial-item .event-img {
        display: none;
    }

    .timeline-point {
        margin-left: 0 !important;
  
    }

    .date {
        top: 5px !important;
        left: -135px !important;
        width: 100px !important;
        text-align: right;
    }

    li span.page {
        margin-left: 20px;
        width: 100px;
        text-align: left !important;
    }

    .testimonial-carousel .owl-item .testimonial-item img { 
        height: 150px;
    }

    .testimonial-carousel .owl-item .testimonial-item .ps-4 { 
        padding: 0 !important;
    }

    .testimonial-carousel .owl-item .testimonial-item h6 {
        font-size: 2rem;
        font-weight: 800 !important;
        text-align: left;
    }
    .testimonial-carousel .owl-item .testimonial-item small {
        font-size: 1.5rem;
        font-weight: 600 !important;
        text-transform: capitalize;
    }
    .testimonial-carousel .owl-item .testimonial-item a {
        float: right;
        margin-left:1em;
    }

    .testimonial-carousel .owl-item .testimonial-item .flex-custom {
        display: flex;
        justify-content: flex-end;
    }
}


/*** Team ***/
.team-item {
    transition: .5s;
}

.team-social {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.team-social a.btn {
    position: relative;
    margin: 0 3px;
    margin-top: 100px;
    opacity: 0;
}

.team-item:hover {
    box-shadow: 0 0 30px #DDDDDD;
}

.team-item:hover .team-social {
    background: rgba(9, 30, 62, .7);
}

.team-item:hover .team-social a.btn:first-child {
    opacity: 1;
    margin-top: 0;
    transition: .3s 0s;
}

.team-item:hover .team-social a.btn:nth-child(2) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .05s;
}

.team-item:hover .team-social a.btn:nth-child(3) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .1s;
}

.team-item:hover .team-social a.btn:nth-child(4) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .15s;
}

.team-item .team-img img,
.blog-item .blog-img img  {
    transition: .5s;
}

.team-item:hover .team-img img,
.blog-item:hover .blog-img img {
    transform: scale(1.15);
}


/*** Miscellaneous ***/
@media (min-width: 991.98px) {
    .facts {
        position: relative;
        margin-top: -75px;
        z-index: 1;
    }
}

.back-to-top {
    position: fixed;
    display: none;
    border-radius: 6px !important;
    border: 0;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.bg-header {
    background: linear-gradient(rgba(9, 30, 62, .7), rgba(9, 30, 62, .7)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.link-animated a {
    transition: .5s;
}

.link-animated a:hover {
    padding-left: 10px;
}

@media (min-width: 767.98px) {
    .footer-about {
        margin-bottom: -75px;
    }
}

p.custom {
    font-family: "Jost";
    font-weight: 500;
    font-size: 24px;
    text-align: justify;
}

.grandtheme {
    background-image: url(../img/background-grandtheme.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.grandtheme h1 {
    /* background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 25%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    
    mix-blend-mode: normal;
    text-shadow: 0px 8px 11px rgba(0, 0, 0, 0.15); */
    color: #FFF;
    font-weight: 400 !important;
}

.contact {
    color: #160E43;
    background: linear-gradient(90deg, #006466 0%, #399DCB 100%);
}

.contact i {
    font-size: 36px;
    align-items: bottom;
    color: #FFF;
}

.contact h2 {
    font-size: 36px;
}


/* Timeline */
.timeline-id {
    background: linear-gradient(90deg, #BCDFAE 0%, rgba(255, 255, 255, 0.00) 100%);
}
.timeline-steps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.timeline-steps .timeline-step {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1rem;
}

@media (min-width:768px) {
    .timeline-steps .timeline-step:not(:last-child):after {
        content: "";
        display: block;
        border-top: .25rem solid rgb(255, 255, 255);
        border-bottom: .25rem solid rgb(255, 239, 8);
        width: 3.46rem;
        position: absolute;
        left: 7.5rem;
        top: .75rem
    }
    .timeline-steps .timeline-step:not(:first-child):before {
        content: "";
        display: block;
        border-top: .25rem solid rgb(255, 255, 255);
        border-bottom: .25rem solid rgb(255, 239, 8);
        width: 3.8125rem;
        position: absolute;
        right: 7.5rem;
        top: .75rem
    }
}

.timeline-steps .timeline-content {
    width: 10rem;
    text-align: center
}

.timeline-steps .timeline-content .inner-circle {
    border-radius: 1.5rem;
    height: 2rem;
    width: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
}

.timeline-steps .timeline-content .inner-circle:before {
    content: "";
    background: linear-gradient(180deg, rgb(255, 255, 255) 50%, rgb(255, 239, 8) 50%);
    display: inline-block;
    height: 3rem;
    width: 3rem;
    min-width: 3rem;
    border-radius: 6.25rem;
    opacity: .4
}

.margin-top-minus-120 {
    margin-top: -120px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    color: var(--primary);
}

.timeline-steps .timeline-content .margin-top-minus-130 {
    margin-top: -130px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    color: var(--primary);
}

.jost {
    font-family: 'Jost' !important;
}

.jost-primary {
    font-family: 'Jost' !important;
    color: var(--primary);
}

.event p {
    font-family: "Jost";
    font-weight: 500;
    font-size: 24px;
    text-align: justify;
}

.event h1 {
    font-size: 38px;
    font-family: 'Gilroy-Bold';
}

.gilroy-medium {
    font-family: 'Gilroy-Medium';
}

.gilroy-bold {
    font-family: 'Gilroy-Bold';
}

.bg-primary {
    background-color: var(--primary) !important;
}

.contact a {
    font-size: 18px;
    color: #FFF !important;
}


/* timeline */
.timeline {
    margin-top: 35px;
    padding: 25px;
    display: grid;
    grid-template-columns: 20% auto;
    justify-content: center;
  }
  
  ul {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    text-align: center !important;
  }
  li {
    margin-top: 30px;
    position: relative;
    padding: 25px;
  }
  li span.page {
    padding-left: 15px;
    transition: 1.5s;
    font-family: "Jost";
    color: var(--primary);
    font-weight: 800 !important;
    text-transform: uppercase !important;
    text-align: left;
    font-size: 12px;
    position: absolute;
  }
  
  .date {
    position: absolute;
  
    top: 25px;
    left: -75px;
    opacity: 0;
    transition: 1.5s;
    font-size: 12px;
  }
  .timeline-line {
    background: rgb(228, 228, 228);
    border-top: .25rem solid rgb(255, 255, 255);
    border-bottom: .25rem solid rgb(255, 255, 255);
    width: 4px;
    border-radius: 12px;
    position: relative;
    justify-self: end;
  }
  
  .timeline-point {
    border: none;
    position: absolute;
  
    border-radius: 50%;
     background: var(--primary); 
    width: 12px;
    height: 12px;
  
    top: 30px;
    left: -8px;
    transition: 1.5s ease;
  }
  .timeline-innerline {
    position: absolute;
    background-color: var(--secondary);
    width: 4px;
    height: 0%;
  
    top: 0%;
    left: 0%;
  
    transition: 1s linear;
  }
  
  @media screen and (min-width: 728px) {
    .timeline {
      display: block;
      /*background: rgba(255, 255, 255, 0.3);
      box-shadow: 0px 9.22029px 38.1984px rgba(0, 0, 0, 0.25);
      backdrop-filter: blur(115.644px);*/
      /* Note: backdrop-filter has minimal browser support */
/*      border-radius: 85.2617px;*/
    }
    ul {
      flex-direction: row;
    }
    li {
      margin-top: 0px;
      position: relative;
      width: 100%;
      padding: 0px;
      font-family: 'Jost';
      font-style: normal;
      font-weight: 400;
    }
    li span.page {
        /* padding: 0 20px; */
        transition: 1.5s;
        font-family: "Jost";
        color: var(--primary);
        font-weight: 800 !important;
        text-transform: uppercase !important;        
        font-size: 14px;
        top: -50px;
        padding-top: 5px;
        position: absolute;
    }
  
    .date {
      opacity: 0;
      transition: 1.5s;
      font-size: 16px;
  
      position: absolute;
      top: 45px;
      left: 38%;
    }
  
    .timeline-point {
      width: 25px;
      height: 25px;
  
      top: 20px;
      left: 40%;
      transition: 1.5s ease;
    }
  
    .timeline-line {
      width: 100%;
      height: 4px;
      top: 65px;
    }
  
    .timeline-innerline {
      position: absolute;
      background: rgb(255, 239, 8);
      width: 0%;
      height: 4px;
  
      top: 0%;
      left: 0%;
  
      transition: 1s linear;
      border-radius: 999px;
    }
}


/* counter */
.counter-content {
    border-radius: 10px;
    overflow: hidden;
}

.counter-content h1 {
    font-weight: 700;
    font-size: 100px;
    line-height: 144px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.counter-content h6 {
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFAE7;
}

.timeline {
    padding: 3% !important;
}

.timeline-point {
    margin-left: 23%;
}

.page {
    text-align: center !important;
    padding: 0 !important;
    width: 55%;
}

.date.jost {
    padding-top: 20px;
}

.event-image {
    border-radius: 10px !important;
    margin-bottom: 1rem;
    height: 18rem;
    width: 27rem;
    object-fit: cover;
}

.img-med{
    width: 100%;
}

.img-small {
    width: 65%;
}

.img-xs {
    width: 50%;
}

